/* you can add to or change this. */

#game {
  border: 6px solid silver;
  width: 80%;
  height: 80%;
  margin: 1% 35% 1% 8%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  padding: 2%;
  background-color: black;

}


.fullCard {
  /*The overall card class*/
  border: 3px solid silver;
  width: 80%;
  height: 60%;
  margin: 20px auto 20px auto;
  background-color: transparent;

}

.innerCard {
  /*The inner structure of a card*/
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  position: relative;
  transform-style: preserve-3d;
  pointer-events: none;
}


.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}
*/
.cardFront {
  /*The blank side first visible to the player*/
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cardBack {
  /*The hidden side revealed upon clicking*/
  width: 100%;
  height: 100%;
  /* margin: 20px; */
  /* visibility: collapse; */
  transform: rotateY(180deg);
  pointer-events: none;
}

.red {
  background-color: red;

}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

#statusBox {
  /* position: absolute; */
  height: 20px;
  width: 20%;
  text-align: center;
  outline: silver;
  margin: auto;
  border: 2px solid silver;
  background-color: lightyellow;
  overflow: hidden;
  white-space: nowrap;
  font-family:Arial, Helvetica, sans-serif;
}

#topBox {
  height: 20px;
  width: 20%;
  text-align: center;
  outline: silver;
  margin: auto;
  border: 2px solid silver;
  background-color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;

}

#moveBox {
  height: 20px;
  width: 20%;
  text-align: center;
  outline: silver;
  margin: auto;
  border: 2px solid silver;
  background-color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;

}

#title {
  text-align: center;
  color: rgba(204, 10, 10, 0.695);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}

#startButton {
  height: 30px;
  width: 150px;
  margin: auto;
  background-color: rgba(170, 51, 94, 0.525);
  border: 4px solid silver;
  color: rgb(17, 67, 17);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;


}

#questionMark {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#startDiv {
  margin: auto;
  width: 100%;
  text-align: center;
}

body {
  height: 1600px;
  width: 1000px;
  background-color: slategrey;
  margin:auto;
}